body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;

    overflow-y: hidden;
    height: 100vh;
}

* {
    font-family: 'Karla', sans-serif;
    color: #0c0f12;
}

.header {
    list-style: none;
    width: 100%;
    padding: 10px;
}

.header > h1 {
    color: #f98b88;
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    padding: 0;
    margin: 0;
}

.splash {
    height: 90vh;
    display: flex;
}

.splash > div {
    flex: 50%;
    height: 100%;
    display: inline-block;
    padding: 0;
    margin: 0;
}


.left {
    padding: 5% !important;
}

.app-store-button {
    width: 200px;
    margin: auto;
    display: block;
}

.app-demo {
    margin: auto;
    display: block;
    max-height: 80vh;
}

h3 {
    font-size: 2rem;
    padding-top: 5%;
    padding-right: 5%;
}

.dot {
    background-image: linear-gradient(#f98b88, #ffc3a0);
    border-radius: 50%;
    position: absolute;
    z-index: -1;
}

.top-right {
    height: 50rem;
    width: 50rem;
    margin-left: 50vw;
    margin-top: -30rem;
}

.bottom-left {
    height: 30rem;
    width: 30rem;
    transform: translate(-40%, 70%);
}

@media screen and (max-width: 600px) {
    .splash {
        display: inline;
    }


    .splash > div {
      flex: 100%;
      height: auto;
      display: block;
    }

    .header > h1 {
        text-align: center;
    }

    .top-right {
        display: none;
    }

    .app-store-button {
        padding-bottom: 50px;
    }

    body, html {
        overflow-y: scroll;
        height: auto;
    }
  }